# Restrictive mode: ignore everything by default
*

# Keep this file tracked
!.gitignore
!README.md

# Allowed tracked paths
!dotfiles/
!dotfiles/**

!tmux/
!tmux/**

!nvim/
!nvim/**

!eza/
!eza/**

!images/
!images/**

!bin/
!bin/**

!starship.toml
!starship-dark.toml
!starship-light.toml

theme-backups/
tmux/theme-current.conf
